@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/butons.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/book.css';

:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
}

body {
    background: linear-gradient(to right,var(--color-background-dark),var(--color-background-light));
    color:var(--color-text-light);
}

*,*::before,*::after{
    box-sizing: border-box;
}

.error-message{
    color: hsl(var(--color-danger-hue), 100%, 50%);
}